
/* gnb_nav css */
.gnb_nav_wrap{
    width: 100%;
    height: 44px;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
}

.gnb_nav_menu {
    width: 100%;
    height: 100%;
    padding: 0 24%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb_nav_menu li {
    height: 100%;
}

.gnb_nav_menu a img {
    height: 100%;
    padding: 0 10px;
    vertical-align: middle;
}

.gnb_nav_menu_icon a img {
    width: 38px;
}

