* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

div, ul, li {
  background-size: cover;
  background-position: center center;
}
